@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /*-------encabezado--------*/
  /*-------footer--------*/
}
html #header {
  grid-area: header;
  background-color: #2b0836;
  width: 100%;
}
html .navbar-collapse {
  text-align: center;
}
html .navbar-light .navbar-toggler {
  margin-top: -100px;
}
html .navbar-light .navbar-toggler-icon {
  background-image: url(../img/icono-menu.png);
}
html .navbar-light .navbar-nav .nav-link {
  color: rgb(251, 251, 251);
  padding: 9px 0;
  text-transform: uppercase;
}
html .navbar-light .navbar-toggler {
  color: #2b0836;
  border-color: none;
}
html .navbar-light .navbar-nav .nav-link:focus, html .navbar-light .navbar-nav .nav-link:hover {
  transition: 0.5s;
  color: rgba(245, 56, 166, 0.7);
  border-bottom: 2px solid #ffffff;
}
html footer {
  background-color: #2b0836;
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}
html footer .logo-footer {
  padding: 25px 0 12px;
}
html footer .logo-footer img {
  width: 150px;
}
html footer .redes-sociales {
  width: 200px;
  padding-left: 36px;
}
html footer .copyright {
  padding: 30px 0;
}
html footer .copyright h4 {
  font-size: 12px;
}

#contenedor-general {
  display: grid;
  grid-template-areas: "anios-setenta" "anios-ochenta" "anios-noventa";
}
#contenedor-general #anios-setenta {
  grid-area: anios-setenta;
  margin-top: 18px;
}
#contenedor-general #anios-setenta .historia-img-1 {
  padding: 0 30px 0;
}
#contenedor-general #anios-ochenta {
  grid-area: anios-ochenta;
}
#contenedor-general #anios-ochenta .historia-img-2 {
  padding: 0 30px 0;
}
#contenedor-general #anios-noventa {
  grid-area: anios-noventa;
}
#contenedor-general #anios-noventa .historia-img-3 {
  padding: 0 30px 0;
  margin-bottom: 30px;
}
#contenedor-general .seccion-historia {
  padding: 30px 20px 0;
  margin-bottom: 30px;
  width: 100%;
}
#contenedor-general .seccion-historia h3 {
  padding: 0 25px;
}
#contenedor-general .seccion-historia p {
  padding: 10px;
}

#contenedor-tienda {
  display: grid;
  grid-template-areas: "seccion-tarjetas";
}
#contenedor-tienda #seccion-tarjetas {
  grid-area: seccion-tarjetas;
}

.contenedor-tarjetas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 80%;
  margin: 30px auto;
}
.contenedor-tarjetas p {
  margin-bottom: 15px;
}
.contenedor-tarjetas .tarjeta-producto img {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #6b3377;
  width: 80%;
  margin: 120px auto;
  padding: 30px;
  box-shadow: 6px 4px 29px -2px rgb(219, 216, 219);
}
form h4 {
  margin-bottom: 15px;
  color: aliceblue;
}
form input {
  padding: 10px;
  width: 100%;
  margin-bottom: 40px;
}
form button {
  margin: 0 auto;
  padding: 6px 23px;
  border-radius: 15px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.contenedor-carrito {
  height: 100vh;
}
.contenedor-carrito .seccion-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  align-items: center;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "portada" "tienda" "banner-1" "fotos" "banner-2" "musica" "banner-3" "carrusel" "footer";
  font-family: "Poppins", sans-serif;
}
body #header {
  grid-area: header;
}
body #portada {
  grid-area: portada;
}
body #tienda {
  grid-area: tienda;
}
body #banner-1 {
  grid-area: banner-1;
}
body #fotos {
  grid-area: fotos;
}
body #banner-2 {
  grid-area: banner-2;
}
body #musica {
  grid-area: musica;
}
body #banner-3 {
  grid-area: banner-3;
}
body #carrusel {
  grid-area: carrusel;
}
body #footer {
  grid-area: footer;
}

.navbar {
  padding: 0;
}

.contenedor-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.logo {
  width: 125px;
  padding: 18px 0 8px;
  margin-left: 25px;
}

/*-------portada--------*/
.portada {
  position: relative;
}
.portada h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

/*-------sección banner--------*/
.seccion-banner {
  position: relative;
}
.seccion-banner .banner-1,
.seccion-banner .banner-2,
.seccion-banner .banner-3 {
  width: 100%;
}
.seccion-banner a {
  color: aliceblue;
  border: 2.5px solid aliceblue;
  padding: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  width: 38%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.seccion-banner a:hover {
  transition-duration: 0.7s;
  border: 2.5px solid rgb(211, 39, 171);
  background-color: transparent;
  color: rgb(211, 39, 171);
}

.texto-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 0 10px 18px;
}
.texto-banner h2 {
  font-size: 1.2rem;
  color: aliceblue;
}

.tienda,
.fotos,
.musica > h2 {
  background-color: #2b0836;
  color: aliceblue;
  text-align: center;
  padding: 18px;
  font-size: 25px;
}

.owl-container {
  width: 80%;
  margin: 30px auto;
}

.texto-tienda {
  width: 80%;
  margin: 45px auto 0;
  font-size: 14px;
  font-weight: 800;
}

.carrusel {
  display: flex;
  flex-direction: column;
}

.contenedor-tarjetas {
  margin: 20px 50px 20px;
}

/*-------sección tienda--------*/
.tarjeta-producto {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 6px 4px 29px -2px rgb(219, 216, 219);
  border-radius: 10px;
  margin-bottom: 15px;
}
.tarjeta-producto button {
  background-color: #6b3377;
  border: 2px solid rgb(113, 13, 126);
  color: rgb(247, 247, 247);
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  padding: 7px 0;
  margin-top: 8px;
}
.tarjeta-producto button:hover {
  transition-duration: 0.2s;
  color: rgb(85, 10, 95);
  background-color: rgb(247, 247, 247);
  border: 2px solid rgb(113, 13, 126);
  font-weight: 600;
}

.tarjeta-producto .titulo-album .titulo-prenda {
  padding-top: 50px;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.contenedor-boton .btn-tienda {
  color: rgb(29, 29, 29);
  border: 3px solid rgb(13, 13, 13);
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
.contenedor-boton .btn-tienda:hover {
  transition: 0.2s;
  color: rgb(214, 9, 163);
  border: 3px solid rgb(214, 9, 163);
}

/*-------sección fotos--------*/
.contenedor-fotos {
  display: grid;
  grid-template-columns: 1fr;
}
.contenedor-fotos img {
  cursor: pointer;
  transition: 0.7s;
}
.contenedor-fotos img:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

/*-------sección música--------*/
.contenedor-musica {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 30px auto;
}

/*------ MEDIA QUERIES -------*/
@media (min-width: 480px) {
  .portada h1 {
    margin-left: 0;
  }
  .seccion-banner a {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .portada h1 {
    font-size: 2rem;
  }
  .texto-banner {
    margin: 0 0 25px 45px;
  }
  .seccion-banner a {
    padding: 5px;
    width: 19%;
  }
  .carrusel {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #contenedor-historia {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "anios-setenta anios-setenta" "anios-ochenta anios-ochenta" "anios-noventa anios-noventa";
  }
  #anios-setenta,
#anios-ochenta,
#anios-noventa {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  /*----seccion-tienda----*/
  .contenedor-tarjetas {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 50px auto;
  }
  /*----seccion-fotos----*/
  .contenedor-fotos {
    grid-template-columns: 1fr 1fr;
    background-color: rgb(16, 16, 16);
  }
  /*----seccion-musica----*/
  .contenedor-musica {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 30px auto;
  }
  .copyright > h4 {
    font-size: 15px;
  }
  /*------------- CONTACTO----------------*/
  form {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .navbar {
    padding: 12px 0;
  }
  .navbar-expand-lg .navbar-nav {
    width: 80%;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .contenedor-logo {
    justify-content: center;
  }
  .logo {
    width: 150px;
  }
  .portada h1 {
    font-size: 2.5rem;
  }
  .seccion-banner h2 {
    font-size: 2.5rem;
  }
  .texto-banner {
    margin: 0 0 50px 130px;
  }
  .seccion-banner a {
    padding: 8px;
    width: 12%;
  }
  .contenedor-tarjetas {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contenedor-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #anios-setenta,
#anios-ochenta,
#anios-noventa {
    flex-direction: row;
    align-items: center;
  }
  #anios-setenta {
    margin-top: 50px;
  }
  #anios-ochenta {
    flex-direction: row-reverse;
    margin-bottom: 50px;
  }
  #anios-noventa {
    margin-bottom: 50px;
  }
  #contenedor-historia {
    width: 80%;
    margin: 0 auto;
  }
  /*------------- CONTACTO-------------------*/
  form {
    width: 40%;
  }
}/*# sourceMappingURL=estilos.css.map */